{#
  Default theme implementation for Lexer & Parser with React.
  Variables:
  - expression: The mathematical expression to be calculated.
  - result: The result of the calculation.
  - calculation_steps: Array of the calculation steps as JSON.
#}

{{ attach_library('lexer_parser/app') }}

<div id="react-app-container" data-expression="{{ expression }}" data-result="{{ result }}" data-calculation-steps="{{ calculation_steps }}"></div>
